.u-section-1 .u-sheet-1 {
  min-height: 686px;
}

.u-section-1 .u-text-1 {
  transition-duration: 0.5s;
  margin: 65px auto 0 0;
}

.u-section-1 .u-accordion-1 {
  margin-top: 139px;
  margin-bottom: 60px;
}

.u-section-1 .u-icon-1 {
  height: 29px;
  width: 29px;
  padding: 3px;
}

.u-section-1 .u-accordion-pane-1 {
  min-height: 235px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 auto 0 124px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -45px auto 0 274px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -45px auto 0 453px;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -45px auto 0 612px;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -45px auto 0 761px;
}

.u-section-1 .u-btn-6 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 20px auto 0 767px;
}

.u-section-1 .u-btn-7 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -45px auto 0 124px;
}

.u-section-1 .u-btn-8 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -45px auto 0 240px;
}

.u-section-1 .u-btn-9 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -45px auto 0 425px;
}

.u-section-1 .u-btn-10 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -45px auto 0 592px;
}

.u-section-1 .u-accordion-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-icon-2 {
  height: 29px;
  width: 29px;
  padding: 3px;
}

.u-section-1 .u-accordion-pane-2 {
  min-height: 170px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-group-elements-1 {
  width: 681px;
  min-height: 110px;
  height: auto;
  margin: 0 auto;
}

.u-section-1 .u-btn-11 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-1 .u-btn-12 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -45px auto 0 146px;
}

.u-section-1 .u-btn-13 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -45px auto 0 280px;
}

.u-section-1 .u-btn-14 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -45px auto 0 491px;
}

.u-section-1 .u-btn-15 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 20px auto 0 109px;
}

.u-section-1 .u-btn-16 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -45px auto 0 294px;
}

.u-section-1 .u-btn-17 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -45px auto 0 461px;
}

.u-section-1 .u-accordion-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-icon-3 {
  height: 29px;
  width: 29px;
  padding: 3px;
}

.u-section-1 .u-accordion-pane-3 {
  min-height: 235px;
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-btn-18 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 auto 0 236px;
}

.u-section-1 .u-btn-19 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -45px auto 0 382px;
}

.u-section-1 .u-btn-20 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -45px auto 0 516px;
}

.u-section-1 .u-btn-21 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -45px auto 0 683px;
}

.u-section-1 .u-btn-22 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 20px auto 0 253px;
}

.u-section-1 .u-btn-23 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -45px auto 0 420px;
}

.u-section-1 .u-btn-24 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -45px auto 0 559px;
}

.u-section-1 .u-btn-25 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -45px auto 0 708px;
}

.u-section-1 .u-icon-4 {
  height: 29px;
  width: 29px;
  padding: 3px;
}

.u-section-1 .u-accordion-pane-4 {
  min-height: 170px;
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-btn-26 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 auto 0 234px;
}

.u-section-1 .u-btn-27 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -45px auto 0 380px;
}

.u-section-1 .u-btn-28 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -45px auto 0 514px;
}

.u-section-1 .u-btn-29 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -45px auto 0 681px;
}

.u-section-1 .u-btn-30 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 20px auto 0 250px;
}

.u-section-1 .u-btn-31 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -45px auto 0 380px;
}

.u-section-1 .u-btn-32 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -45px auto 0 540px;
}

.u-section-1 .u-btn-33 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -45px auto 0 682px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  }

  .u-section-1 .u-btn-1 {
    margin-left: 62px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 136px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 315px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 474px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 623px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 629px;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 62px;
  }

  .u-section-1 .u-btn-8 {
    margin-left: 102px;
  }

  .u-section-1 .u-btn-9 {
    margin-left: 287px;
  }

  .u-section-1 .u-btn-10 {
    margin-left: 454px;
  }

  .u-section-1 .u-btn-18 {
    margin-left: 136px;
  }

  .u-section-1 .u-btn-19 {
    margin-left: 282px;
  }

  .u-section-1 .u-btn-20 {
    margin-left: 416px;
  }

  .u-section-1 .u-btn-21 {
    margin-left: 583px;
  }

  .u-section-1 .u-btn-22 {
    margin-left: 153px;
  }

  .u-section-1 .u-btn-23 {
    margin-left: 320px;
  }

  .u-section-1 .u-btn-24 {
    margin-left: 459px;
  }

  .u-section-1 .u-btn-25 {
    margin-left: 608px;
  }

  .u-section-1 .u-btn-26 {
    margin-left: 134px;
  }

  .u-section-1 .u-btn-27 {
    margin-left: 280px;
  }

  .u-section-1 .u-btn-28 {
    margin-left: 414px;
  }

  .u-section-1 .u-btn-29 {
    margin-left: 581px;
  }

  .u-section-1 .u-btn-30 {
    margin-left: 150px;
  }

  .u-section-1 .u-btn-31 {
    margin-left: 280px;
  }

  .u-section-1 .u-btn-32 {
    margin-left: 440px;
  }

  .u-section-1 .u-btn-33 {
    margin-left: 582px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-2 {
    margin-left: 62px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 95px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 254px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 403px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 409px;
  }

  .u-section-1 .u-btn-8 {
    margin-left: 62px;
  }

  .u-section-1 .u-btn-9 {
    margin-left: 67px;
  }

  .u-section-1 .u-btn-10 {
    margin-left: 234px;
  }

  .u-section-1 .u-group-elements-1 {
    width: 660px;
  }

  .u-section-1 .u-btn-11 {
    margin-left: -10px;
  }

  .u-section-1 .u-btn-12 {
    margin-left: 136px;
  }

  .u-section-1 .u-btn-13 {
    margin-left: 270px;
  }

  .u-section-1 .u-btn-14 {
    margin-left: 481px;
  }

  .u-section-1 .u-btn-15 {
    margin-left: 98px;
  }

  .u-section-1 .u-btn-16 {
    margin-left: 283px;
  }

  .u-section-1 .u-btn-17 {
    margin-left: 450px;
  }

  .u-section-1 .u-btn-18 {
    margin-left: 118px;
  }

  .u-section-1 .u-btn-19 {
    margin-left: 118px;
  }

  .u-section-1 .u-btn-20 {
    margin-left: 214px;
  }

  .u-section-1 .u-btn-21 {
    margin-left: 381px;
  }

  .u-section-1 .u-btn-22 {
    margin-left: 118px;
  }

  .u-section-1 .u-btn-23 {
    margin-left: 118px;
  }

  .u-section-1 .u-btn-24 {
    margin-left: 257px;
  }

  .u-section-1 .u-btn-25 {
    margin-left: 406px;
  }

  .u-section-1 .u-btn-26 {
    margin-left: 117px;
  }

  .u-section-1 .u-btn-27 {
    margin-left: 117px;
  }

  .u-section-1 .u-btn-28 {
    margin-left: 211px;
  }

  .u-section-1 .u-btn-29 {
    margin-left: 378px;
  }

  .u-section-1 .u-btn-30 {
    margin-left: 117px;
  }

  .u-section-1 .u-btn-31 {
    margin-left: 117px;
  }

  .u-section-1 .u-btn-32 {
    margin-left: 237px;
  }

  .u-section-1 .u-btn-33 {
    margin-left: 379px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 62px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 114px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 263px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 269px;
  }

  .u-section-1 .u-btn-9 {
    margin-left: 62px;
  }

  .u-section-1 .u-btn-10 {
    margin-left: 94px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-elements-1 {
    width: 520px;
  }

  .u-section-1 .u-btn-11 {
    margin-left: -80px;
  }

  .u-section-1 .u-btn-12 {
    margin-left: 66px;
  }

  .u-section-1 .u-btn-13 {
    margin-left: 200px;
  }

  .u-section-1 .u-btn-14 {
    margin-left: 411px;
  }

  .u-section-1 .u-btn-15 {
    margin-left: 28px;
  }

  .u-section-1 .u-btn-16 {
    margin-left: 213px;
  }

  .u-section-1 .u-btn-17 {
    margin-left: 380px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-btn-20 {
    margin-left: 118px;
  }

  .u-section-1 .u-btn-21 {
    margin-left: 241px;
  }

  .u-section-1 .u-btn-24 {
    margin-left: 118px;
  }

  .u-section-1 .u-btn-25 {
    margin-left: 266px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-btn-28 {
    margin-left: 117px;
  }

  .u-section-1 .u-btn-29 {
    margin-left: 238px;
  }

  .u-section-1 .u-btn-32 {
    margin-left: 117px;
  }

  .u-section-1 .u-btn-33 {
    margin-left: 239px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-btn-4 {
    margin-left: 62px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 63px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 69px;
  }

  .u-section-1 .u-btn-10 {
    margin-left: 62px;
  }

  .u-section-1 .u-group-elements-1 {
    width: 320px;
  }

  .u-section-1 .u-btn-11 {
    margin-left: -180px;
  }

  .u-section-1 .u-btn-12 {
    margin-left: -34px;
  }

  .u-section-1 .u-btn-13 {
    margin-left: 100px;
  }

  .u-section-1 .u-btn-14 {
    margin-left: 311px;
  }

  .u-section-1 .u-btn-15 {
    margin-left: -72px;
  }

  .u-section-1 .u-btn-16 {
    margin-left: 113px;
  }

  .u-section-1 .u-btn-17 {
    margin-left: 280px;
  }

  .u-section-1 .u-btn-18 {
    margin-left: 80px;
  }

  .u-section-1 .u-btn-19 {
    margin-left: 80px;
  }

  .u-section-1 .u-btn-20 {
    margin-left: 80px;
  }

  .u-section-1 .u-btn-21 {
    margin-left: auto;
  }

  .u-section-1 .u-btn-22 {
    margin-left: 80px;
  }

  .u-section-1 .u-btn-23 {
    margin-left: 80px;
  }

  .u-section-1 .u-btn-24 {
    margin-left: 80px;
  }

  .u-section-1 .u-btn-25 {
    margin-left: 80px;
  }

  .u-section-1 .u-btn-26 {
    margin-left: 78px;
  }

  .u-section-1 .u-btn-27 {
    margin-left: 78px;
  }

  .u-section-1 .u-btn-28 {
    margin-left: 78px;
  }

  .u-section-1 .u-btn-29 {
    margin-left: 78px;
  }

  .u-section-1 .u-btn-30 {
    margin-left: 78px;
  }

  .u-section-1 .u-btn-31 {
    margin-left: 78px;
  }

  .u-section-1 .u-btn-32 {
    margin-left: 78px;
  }

  .u-section-1 .u-btn-33 {
    margin-left: auto;
  }
}

.u-section-1 .u-text-1,
.u-section-1 .u-text-1:before,
.u-section-1 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}